html{
  background-color:#efefef;
}

body{
  background-color: #fff;
  border: 1px solid #888;
  border-width: 0 1px;
}
.jumbotron{
    background: #efefef url('https://drscdn.500px.org/photo/159795079/q%3D80_m%3D2000_k%3D1/4609dda200a3e6353b0848a38c31fb9d') center -110px;
    height: 300px;
    border: 1px solid #888;
}

.nav-tabs > li .status{
  display: none;
}

.nav-tabs > li.active .status{
  display: inline;
}

.tab-content {
    border: 1px solid #ccc;
    padding: 10px;
    border-top-width: 0;
}
