


<div class="panel panel-default">
                        <div class="panel-heading">
                            Buyer apply for event
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" ng-submit="submit()">
    <div class="form-group">
                                            <label>Name</label> {{buyerapp.name}}
                                            
    </div>
										
	<div class="form-group">				
											<label>Select user to apply </label>
	<select class="form-control" id="sel1"  ng-model="buyerapp.name"  >
    <option ng-repeat="list in owners">{{$index}}-{{list.record.name}}</option>
    
  </select>
                                            
    </div>
	
	
	

<div class="form-group">

	<label>Select auction/event/group</label>
	<select class="form-control" id="sel1"  ng-model="buyerapp.event"  >
    <option ng-repeat="list in events">{{$index}}-{{list.event.title}}</option>
    
  </select>
  
 </div>
 
	

	 <div class="form-group">
			<label>Terms for buyer </label>
			<pre style="overflow-x:scroll; overflow-y:scroll;  height: 15pc">
			 {{buyerapp.buyerterms}}
			</pre>

    </div>
	
	<div class="form-group">	 
	<label class="label label-danger" ng-show="error"> {{error}} </label>
	
	<button  class="btn btn-default" ng-click="buyerapply()">Agree</button>
</div>
	 
</div>
</div>
</div>	
</div>
	

