


<div class="panel panel-default">
                        <div class="panel-heading">
                            Set govt policy for events
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
								
								<ul>
  <li ng-repeat="event in events">
  
 
	
	<div class="form-group">
                                            <label>event.title</label>
											<label>Set min percentage sellers</label>
                                            <input type="number" class="form-control" placeholder="Enter minimum number of seller approvals" ng-model="event.sellerpercentage">
											<label>Set min percentage of land agreement</label>
                                            <input type="number" class="form-control" placeholder="Enter min percantage of land needed " ng-model="event.landpercentage">
											
											<button  class="btn btn-default" ng-click="confirm(event)">Confirm</button>
    </div>
	
	
  
  </li>
</ul>


	 
</div>
</div>
</div>	
</div>
	

