:


<div class="panel panel-default">
                        <div class="panel-heading">
                            Asset list
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
								
								<ul >
								
  <div class="form-group">
                                            <label>Event</label> {{selectedevent}}
                                            
    </div>
	<div class="form-group">				
											<label>Select event </label>
	<select class="form-control" id="sel1"  ng-model="selectedevent"  >
    <option ng-repeat="list in escrow">{{$index}}-{{list.escrowdata.title}}</option>
    
  </select>
                                            
    </div>
	
  <li ng-repeat="asset in assets" ng-show="asset.assetId">
  
 
	<div class="form-group">
	
	
	<label>Asset number		 :</label>  {{asset.assetId}}	<label>Asset title		 :</label>  {{asset.assetname}}	</br>
	
	<label>Asset owner 		:</label>   {{asset.useraddress}}	<label>Owner name		 :</label>  {{asset.username}}	 </br>
	
	<label>Asset status : </label>{{asset.status}} <label>Asset price :</label>{{asset.price}}		</br>
	
	
     </div>                                         
    
	
	
  
  </li>
</ul>


	 
</div>
</div>
</div>	
</div>
	

