


<div class="panel panel-default">
                        <div class="panel-heading">
                            Sellers registered users and available event 
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
								<div class="form-group">
								<button  class="btn btn-default" ng-click="listevents()">List available events</button>
								<h3 ng-hide="events.length > 0"> No events created </h3>
								<ul>
  <li ng-repeat="list in events" ng-show="events.length > 0">
  
 
	
                                            <label>{{list.event.title}}</label>
											<p>{{list.event.description}} </p>
                                            
    
	
	
  
  </li>
</ul>

</div>

						<div class="form-group">
								<button  class="btn btn-default" ng-click="listowners()">List users registered </button>
								<h3 ng-hide="owners.length > 0"> No users created </h3>
								<ul>
  <li ng-repeat="list in owners" ng-show="owners.length > 0">
  
 
	
                                            <label>{{list.record.name}}</label>
											<p>testnet address {{list.record.testnet.address}} </p>
											<p>mainet address {{list.record.mainnet.address}} </p>
                                            
    
	
	
  
  </li>
</ul>

</div>
	 
</div>
</div>
</div>	
</div>
	

